.custom-button {

    padding: 20px 20px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    &.google-sign-in {

        background-color: rgb(83, 137, 236);
        color: white;

        &:hover {
            background-color: rgb(65, 97, 241);
        }
    }

    & .inverted {
        background-color: white;
        border: 1px solid black;
        color: black;

        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }
}